.main {
    background-color: #D1D7E0;
    width: 100%;
}

.subHeader {
    height: 70vh;
    background-color: #24305E;
    display: flex;
    flex-direction: row;
    padding: 0 40px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.left h1 {
    font-size: 50px;
    color: #D1D7E0;
    line-height: 1.75;
    margin-bottom: 60px;
}

.left h3 {
    font-size: 16px;
    color: #D1D7E0;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.right img {
    width: 80%;
}

.features {
    height: auto;
    background-color: #D1D7E0;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.left1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.left1 h1 {
    font-size: 50px;
    color: #24305E;
    margin-bottom: 20px;
    line-height: 1.25;
}

.left1 h3 {
    font-size: 16px;
    color: #515b84;
    line-height: 1.5;
}

.right1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card img {
    width: 60%;
}

.community {
    background-color: #24305E;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 100px 40px;
    justify-content: center;
}

.left2 {
    width: 50%;
}

.left2 h1 {
    font-size: 70px;
    color: #D1D7E0;
    margin-bottom: 20px;
    line-height: 1.25;
}

.left2 h3 {
    font-size: 20px;
    color: #979ba9;
    line-height: 1.5;
    margin-bottom: 30px;
}

.right2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right2 img {
    width: 80%;
    filter: drop-shadow(6px 6px 12px #D1D7E0);
}