html{
    scroll-behavior: smooth;
}
.main{
    background-color: #D1D7E0;
    width: 100%;
    height: 100vh; 
}
.logoimg{
    width: 50px;
}
.subHeader{
    height: 70vh;
    background-color: #24305E;
    display: flex;
    flex-direction: row;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding-left: 40px;
}
.left h1{
    font-size: 64px;
    color: #D1D7E0;
   padding-bottom: 80px;
    margin: 0;
}
.left h3{
    font-size: 16px;
    color: #D1D7E0;
    margin: 0;
    padding: 0;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.right img{
    width: 80%;
}
.features{
   height: auto;
   background-color: #D1D7E0;
   padding:100px 40px;
   display: flex;
   flex-direction: column;
   gap: 80px;
}
.left1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.left1 h1{
    font-size: 60px;
    color: #24305E;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.left1 h3{
    font-size: 16px;
    color: #515b84;
    margin: 0;
    padding: 0;
}

.right1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card img{
    width: 50%;
}
.community{
    background-color: #24305E;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 100px 40px;
}
.left2{
    justify-content: center;
    width: 50%;
}
.left2 h1{
    font-size: 70px;
    color: #D1D7E0;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.left2 h3{
    font-size: 20px;
    color: #979ba9;
    margin: 0;
    padding: 0;
}
.right2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right2 img{
    width: 80%;
}