
.messageDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.msgImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.msgImg img {
    width: 50px;
    border-radius: 50%;
}
.msgWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.msgWrapper.msgother{
    align-items: start;
}
.msgWrapper.msgself{
    align-items: end;
}
.msgWrapper p{
    font-size: 12px;
}
.message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    background-color:#fff;
    padding: 15px 20px;
    border-radius: 8px;
    max-width: 60%;
}
.msgWrapper.msgother .message{
    background-color: #fff;
    color: #24305E;
}
.msgWrapper.msgself .message{
    background-color: #24305E;
    color: #D1D7E0;
}
.message .msgText {
    font-size: 16px;
}

.message .nameAndTime {
    font-size: 12px;
}
.sender,.msgTime{
    color: #24305E;
}