@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: .3rem;
}

::-webkit-scrollbar-track {
  background: #24305E;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#24305E, #D1D7E0, #24305E);
  border-radius: 2rem;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}